.button {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $font-custom;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  background-color: transparent;
  color: $color-black;
  margin: 0;
  border: none;

  &--primary {
    background-color: $color-green-1;
    color: $color-white;
    font-size: 14px;
    line-height: 18px;
    padding: 11px;

    &:hover,
    &:focus {
      background-color: $color-green-4;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 17px 11px;
    }
  }

  &--secondary {
    background-color: $color-green-1;
    color: $color-white;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;

    &:hover,
    &:focus {
      background-color: $color-green-4;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }
}
