.scale {
  position: relative;
  width: 85px;
  height: 14px;
  background-color: $color-white;
  border: 1px solid $color-grey-8;
  border-radius: 6px;
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    border: none;
    background-color: $color-grey-10;
    margin: 0 20px 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20px 0 20px;
  }
}

.scale__button {
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: $color-green-1;
  border-radius: 6px;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px rgba($color-black, 0.19);
  }

  &:active {
    box-shadow: 0 5px 3px rgba($color-black, 0.2);
    border: 1px solid $color-green-1;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid $color-grey-8;
    border-radius: 50%;
    background-color: $color-white;
    left: 47%;
    box-shadow: 0 1px 3px rgba($color-black, 0.16);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-green-1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $desktop-width) {
      left: 44%;
    }
  }
}
