.section-title {
  font-family: $font-custom;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
